{% extends "layout.html" %}

{% block title %}
    Story
{% endblock %}

{% block main %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    <link rel="stylesheet" href="static/css/dashboard.css">
    </head>

    <body>
        <div class="container">
            <div class="intro">
                <h1>Welcome to <strong>"Quacktastic Conundrum"</strong></h1>
                <br>
                <h2>A Thrilling Mystery Awaits!</h2>
                <p>You are about to embark on an unforgettable adventure. As part of a close-knit group of college friends, you spent an exciting holiday together, only to wake up with scattered memories and a missing item—a valuable mascot from Harvard!</p>
                <br>
                <h3>Your mission:</h3>
                <p>Solve the mystery of the missing rubber duck mascot by unraveling clues scattered across various social media platforms, newspapers, and other locations. Each piece of information you find will help you piece together what happened during that unforgettable trip.</p>
                <br>
                <h3>How to input your clues:</h3>
                <p>Once you found a clue you will have to log it on the dashboard to unlock the next clue. Under "what" write what you found and under "Where did you find the clue?" write where you found the clue.
                    "Pay attention to spaces and capitalization: possible answers include Gallery, Fakebook, and Beach...etc"
                </p>
                <h3>QuackMeIfYouCan!</h3>
            </div>
        </div>
    </body>

    </html>
{% endblock %}
