<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/instaquam.css">
        <link href="/static/images/icons/instaquam.png" rel="icon">
        <title>Instaquam</title>

    </head>

    <body>

        <div class="phone-frame">
            <div class="inner-phone">
                <header>
                    <div class="instaquam">
                        <img src="static/images/icons/instaquam.png" alt="Instagram Logo">
                        Instaquam
                    </div>
                    <div><img src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Likes">&nbsp;&nbsp;
                        <img src="https://img.icons8.com/?size=100&id=K7Dq3ylXcWr0&format=png&color=000000" alt="Messages">&nbsp;&nbsp;
                    </div>

                </header>

                <div class="container">
                    <!-- Story Section -->
                    <div class="story-section">
                        <div class="story" style="background-image: url('https://randomuser.me/api/portraits/women/68.jpg');"></div>
                        <div class="story" style="background-image: url('https://randomuser.me/api/portraits/men/45.jpg');"></div>
                        <div class="story" style="background-image: url('https://randomuser.me/api/portraits/women/17.jpg');"></div>
                        <div class="story" style="background-image: url('https://randomuser.me/api/portraits/men/15.jpg');"></div>
                        <div class="story" style="background-image: url('https://randomuser.me/api/portraits/women/47.jpg');"></div>
                    </div>

                    <!-- Posts -->
                    <!-- Post 1 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/45.jpg');"></div>
                            <div class="post-header-info">
                                <strong>HarvardLife</strong>
                                <span class="location">Cambridge, MA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcollege.harvard.edu%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmax_1300x1300%2Fpublic%2F2022-11%2Flinderpix-Harvard-0948_1.jpg%3Fitok%3Ddp_r9hIi&f=1&nofb=1&ipt=15e01819d9bc42ef4c7560979da8e2b40eff9ecbe7c5ffb0c293c0d1f2371ec5&ipo=images" alt="Harvard Campus">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=19411&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>120 likes</span>
                        </div>
                        <p class="caption"><strong>HarvardLife:</strong> Exploring the iconic Harvard campus! #Harvard #CampusLife</p>
                        <div class="comments">
                            <strong>Student1:</strong> Looks amazing!
                        </div>
                        <div class="timestamp">Posted 3 hours ago</div>
                    </div>

                    <!-- Post 2 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/22.jpg');"></div>
                            <div class="post-header-info">
                                <strong>MITStudents</strong>
                                <span class="location">Cambridge, MA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fnews.mit.edu%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fnews_article__image_gallery%2Fpublic%2Fimages%2F202209%2FMIT-Museum-04-press.jpg%3Fitok%3DfK4tWAeC&f=1&nofb=1&ipt=d8e3d927a39c4d82385c167246cbfa964b2a9de3d807ac486f7fe7a1a688ea2f&ipo=images" alt="MIT Building">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>98 likes</span>
                        </div>
                        <p class="caption"><strong>MITStudents:</strong> Had a great time at the new tech exhibition! #MIT #Innovation</p>
                        <div class="comments">
                            <strong>Student2:</strong> Such cool technology!
                        </div>
                        <div class="timestamp">Posted 4 hours ago</div>
                        <div class="comments">
                            <strong>CrimsonScholar:</strong> Ours is better!
                        </div>
                        <div class="timestamp">Posted 3 hours ago</div>
                    </div>

                    <!-- Post 3 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/17.jpg');"></div>
                            <div class="post-header-info">
                                <strong>EventHappening</strong>
                                <span class="location">Cambridge, MA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fogcr.mit.edu%2Fsites%2Fdefault%2Ffiles%2F2019-04%2Fcambridge-community350.png&f=1&nofb=1&ipt=94cf9c375374f1873e3a3a2b81a105cf1d1a45461e7609ed9d75534f1c96e0fa&ipo=images" alt="Event Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>150 likes</span>
                        </div>
                        <p class="caption"><strong>EventHappening:</strong> Celebrating our community! #CommunityEvent #Togetherness</p>
                        <div class="comments">
                            <strong>CommunityMember:</strong> Love this vibe!
                        </div>
                        <div class="timestamp">Posted 5 hours ago</div>
                    </div>

                    <!-- Additional 20 Posts -->
                    <!-- Post 4 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/32.jpg');"></div>
                            <div class="post-header-info">
                                <strong>ArtExhibition</strong>
                                <span class="location">Boston, MA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fmedia.harvardartmuseums.org%2Fproduction%2Fuploaded_files%2Ftour_builder%2Fo_1e6u09lt91u7po4job1h8t34s7.jpg&f=1&nofb=1&ipt=cc91460f9c48f45196280d3881771d099a3652efdff1f4d272a27257f9675dbe&ipo=images" alt="Art Exhibition">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>200 likes</span>
                        </div>
                        <p class="caption"><strong>ArtExhibition:</strong> Discovering ancient Japanese art at its finest! #ArtLovers #Exhibition</p>
                        <div class="comments">
                            <strong>ArtFan:</strong> Incredible pieces!
                        </div>
                        <div class="timestamp">Posted 1 hour ago</div>
                    </div>

                    <!-- Post 5 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/53.jpg');"></div>
                            <div class="post-header-info">
                                <strong>NatureLover</strong>
                                <span class="location">Boston, MA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tripsavvy.com%2Fthmb%2FHdOovJsMpAMmPKqu-brtQ2YQrdE%3D%2F1500x0%2Ffilters%3Ano_upscale()%3Amax_bytes(150000)%3Astrip_icc()%2Fautumn-foliage-in-the-white-mountains-of-new-hampshire-647676896-e919756e21134650a0d96fc4c0472516.jpg&f=1&nofb=1&ipt=ee5da1981b8d320dba31b6415817f7c5c63d0e358b6439ba468f235a67c89882&ipo=images" alt="Nature Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>180 likes</span>
                        </div>
                        <p class="caption"><strong>NatureLover:</strong> Enjoying the beauty of nature! #NaturePhotography #Outdoors</p>
                        <div class="comments">
                            <strong>NatureFan:</strong> So peaceful!
                        </div>
                        <div class="timestamp">Posted 2 hours ago</div>
                    </div>

                    <!-- Post 6 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/45.jpg');"></div>
                            <div class="post-header-info">
                                <strong>FoodieAdventures</strong>
                                <span class="location">Boston, MA</span>
                            </div>
                        </div>
                        <img src="https://images.squarespace-cdn.com/content/v1/5e484ab628c78d6f7e602d73/0d0954c1-b8e0-44d7-be9d-0ff74af03fc7/lobster-roll.jpg?format=1500w" alt="Food Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>250 likes</span>
                        </div>
                        <p class="caption"><strong>FoodieAdventures:</strong> Trying out the best dishes in town! #Foodie #Yum</p>
                        <div class="comments">
                            <strong>FoodCritic:</strong> Looks delicious!
                        </div>
                        <div class="timestamp">Posted 3 hours ago</div>
                    </div>

                    <!-- Post 7 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/25.jpg');"></div>
                            <div class="post-header-info">
                                <strong>TravelDiaries</strong>
                                <span class="location">New York, NY</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp7656202.jpg&f=1&nofb=1&ipt=156e5566c00f41b409f55bc0afabfa48136089c49cbcd1c7c65d185cba9a34e7&ipo=images" alt="Travel Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>300 likes</span>
                        </div>
                        <p class="caption"><strong>TravelDiaries:</strong> Exploring the streets of New York! #Travel #Adventure</p>
                        <div class="comments">
                            <strong>Traveler:</strong> Such a vibrant city!
                        </div>
                        <div class="timestamp">Posted 6 hours ago</div>
                    </div>

                    <!-- Post 8 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/12.jpg');"></div>
                            <div class="post-header-info">
                                <strong>Fashionista</strong>
                                <span class="location">Los Angeles, CA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0162%2F2116%2Ffiles%2FUntitled_design_5.jpg%3Fv%3D1508915815&f=1&nofb=1&ipt=05b97178b7dd4916cbb8ad7d91d3d9cd0a08087db6df5e659936207303bd48d5&ipo=images" alt="Fashion Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>320 likes</span>
                        </div>
                        <p class="caption"><strong>Fashionista:</strong> Loving this new outfit! #Fashion #Style</p>
                        <div class="comments">
                            <strong>FashionFan:</strong> So chic!
                        </div>
                        <div class="timestamp">Posted 8 hours ago</div>
                    </div>

                    <!-- Post 9 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/13.jpg');"></div>
                            <div class="post-header-info">
                                <strong>FitnessGoals</strong>
                                <span class="location">Miami, FL</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F81%2F42%2Fe7%2F8142e7a0b2e4817b26d7c348cd13679f.jpg&f=1&nofb=1&ipt=1500cf17768c14a5735ddab043d64e9aa53b24aa44fc00acec24c3773bf770a3&ipo=images" alt="Fitness Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>260 likes</span>
                        </div>
                        <p class="caption"><strong>FitnessGoals:</strong> Working hard towards my fitness goals! #Fitness #Motivation</p>
                        <div class="comments">
                            <strong>FitFam:</strong> Keep it up!
                        </div>
                        <div class="timestamp">Posted 7 hours ago</div>
                    </div>

                    <!-- Post 10 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/54.jpg');"></div>
                            <div class="post-header-info">
                                <strong>TechGuru</strong>
                                <span class="location">San Francisco, CA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.paRk6z98tOo-TBs9r7VGUgAAAA%26pid%3DApi&f=1&ipt=e11166b3a4b36cd3e65687720b374e8a29e46b963d1403aa5a2e61f772ace94f&ipo=images" alt="Tech Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=19411&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>400 likes</span>
                        </div>
                        <p class="caption"><strong>TechGuru:</strong> Latest gadget review! #Tech #Innovation</p>
                        <div class="comments">
                            <strong>TechFan:</strong> Can't wait to try it!
                        </div>
                        <div class="timestamp">Posted 4 hours ago</div>
                    </div>

                    <!-- Post 11 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/42.jpg');"></div>
                            <div class="post-header-info">
                                <strong>PetLover</strong>
                                <span class="location">Seattle, WA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.aj3WEvLFrcH6qFp4ROPrpwHaFj%26pid%3DApi&f=1&ipt=f4b43ea6de240b3e21bdac08b96f30c37821661fa760828abc4e3300e6eb6467&ipo=images" alt="Pet Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=19411&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>500 likes</span>
                        </div>
                        <p class="caption"><strong>PetLover:</strong> Adopting a new furry friend! #AdoptDontShop #Pets</p>
                        <div class="comments">
                            <strong>AnimalFan:</strong> So cute!
                        </div>
                        <div class="timestamp">Posted 3 hours ago</div>
                    </div>

                    <!-- Post 12 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/63.jpg');"></div>
                            <div class="post-header-info">
                                <strong>GamerZone</strong>
                                <span class="location">Austin, TX</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.akamai.steamstatic.com%2Fsteam%2Fapps%2F2183900%2Fcapsule_616x353.jpg%3Ft%3D1686257711&f=1&nofb=1&ipt=624d7516df0f315f6cb8414454418845901d8e61a3ff86a1af13e7d2eaa51a6d&ipo=images" alt="Game Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>350 likes</span>
                        </div>
                        <p class="caption"><strong>GamerZone:</strong> New game release hype! #Gaming #Excited</p>
                        <div class="comments">
                            <strong>GamerFan:</strong> Can't wait to play it!
                        </div>
                        <div class="timestamp">Posted 2 hours ago</div>
                    </div>

                    <!-- Post 13 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/33.jpg');"></div>
                            <div class="post-header-info">
                                <strong>BostonEvents</strong>
                                <span class="location">Revere Beach, Boston</span>
                            </div>
                        </div>
                        <img src="/static/images/instaquam/poster.png" alt="Sand Sculpture Competition Poster">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=19411&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>315 likes</span>
                        </div>
                        <p class="caption"><strong>BostonEvents:</strong> Get ready for an epic day at the Revere Beach Sand Sculpture Competition this Saturday, 14th! 🌊🏖️ Watch artists create masterpieces in the sand, enjoy live music, and have fun in the sun. 🏆 #RevereBeach #SandSculptures #BostonEvents #FamilyFun</p>
                        <div class="comments">
                            <strong>BeachLover:</strong> This sounds amazing! Can’t wait!
                        </div>
                        <div class="timestamp">Posted 2 hours ago</div>
                    </div>

                    <!-- Post 14 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/22.jpg');"></div>
                            <div class="post-header-info">
                                <strong>WellnessWarrior</strong>
                                <span class="location">Chicago, IL</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.csun.edu%2Fsites%2Fdefault%2Ffiles%2FNAMI-Impact-Ripple-Effect-FINAL.jpg&f=1&nofb=1&ipt=17e9ee258f954c422bff37636642bf1fe7110477d2bcb73968293a36c8a0cead&ipo=images" alt="Wellness Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>420 likes</span>
                        </div>
                        <p class="caption"><strong>WellnessWarrior:</strong> Focusing on mental health today. #Wellness #SelfCare</p>
                        <div class="comments">
                            <strong>MindfulUser:</strong> So important!
                        </div>
                        <div class="timestamp">Posted 5 hours ago</div>
                    </div>

                    <!-- Post 15 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/men/72.jpg');"></div>
                            <div class="post-header-info">
                                <strong>HistoryBuff</strong>
                                <span class="location">Philadelphia, PA</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmontchaninbuilders.net%2Fwp-content%2Fuploads%2F2014%2F04%2FWashington_Monument-Philadelphia-27527.jpg&f=1&nofb=1&ipt=135e55d8abc3b04f889f909dbdeef7bd5b5e4f15cbd9aa63739e3603e25b7367&ipo=images" alt="History Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>310 likes</span>
                        </div>
                        <p class="caption"><strong>HistoryBuff:</strong> Visiting the historic sites of Philly! #History #Travel</p>
                        <div class="comments">
                            <strong>HistoryFan:</strong> Love this city!
                        </div>
                        <div class="timestamp">Posted 4 hours ago</div>
                    </div>

                    <!-- Post 16 -->
                    <div class="post">
                        <div class="post-header">
                            <div class="profile-pic" style="background-image: url('https://randomuser.me/api/portraits/women/35.jpg');"></div>
                            <div class="post-header-info">
                                <strong>CraftQueen</strong>
                                <span class="location">Denver, CO</span>
                            </div>
                        </div>
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi0.wp.com%2Fwww.prudentpennypincher.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffalldecor2.jpg&f=1&nofb=1&ipt=5319b1b07b67f22c1316287d20274e471da92e9446c2c115050e3012e2ab0759&ipo=images" alt="Craft Photo">
                        <div class="interactions">
                            <div class="interaction-icons">
                                <img class="like-icon" src="https://img.icons8.com/?size=100&id=87&format=png&color=000000" alt="Like Icon">
                                <img src="https://img.icons8.com/?size=100&id=7vejZAPG5qwJ&format=png&color=000000" alt="Comment Icon">
                                <img src="https://img.icons8.com/?size=100&id=a6irAj65GalL&format=png&color=000000" alt="Share Icon">
                            </div>
                            <span>270 likes</span>
                        </div>
                        <p class="caption"><strong>CraftQueen:</strong> Creating some fall decorations! #Crafts #DIY</p>
                        <div class="comments">
                            <strong>ArtLover:</strong> Can't wait to see the finished product!
                        </div>
                        <div class="timestamp">Posted 3 hours ago</div>
                    </div>
                </div>

                <!-- Navbar -->
                <div class="navbar">
                    <div class="nav-item">
                        <img src="https://img.icons8.com/?size=100&id=2797&format=png&color=000000" alt="Home Icon">
                        <div>Home</div>
                    </div>
                    <div class="nav-item">
                        <img src="https://img.icons8.com/?size=100&id=132&format=png&color=000000" alt="Search Icon">
                        <div>Search</div>
                    </div>
                    <div class="nav-item">
                        <img src="https://img.icons8.com/?size=100&id=1501&format=png&color=000000" alt="Like Icon">
                        <div>Create</div>
                    </div>
                    <div class="nav-item">
                        <img src="https://img.icons8.com/?size=100&id=PxI9IPCyBAOD&format=png&color=000000" alt="Post Icon">
                        <div>Reels</div>
                    </div>
                    <div class="nav-item">
                        <img src="https://img.icons8.com/?size=100&id=JOzPdFXJKESy&format=png&color=000000" alt="Profile Icon">
                        <div>Profile</div>
                    </div>
                </div>

            </div>
        </div>

        <script>
            document.querySelectorAll('.like-icon').forEach((icon) => {
                icon.addEventListener('click', () => {
                    const likesSpan = icon.closest('.interactions').querySelector('span');
                    let likesCount = parseInt(likesSpan.textContent.split(' ')[0]); // Get the current likes count

                    // Check if the post is already liked by checking the icon's src attribute
                    if (icon.dataset.liked === 'true') {
                        // Unlike the post
                        likesCount--; // Decrement likes count
                        likesSpan.textContent = `${likesCount} likes`; // Update the displayed likes count
                        icon.src = 'https://img.icons8.com/?size=100&id=87&format=png&color=000000'; // Change icon back to the unliked version
                        icon.dataset.liked = 'false'; // Update the data attribute to indicate it's not liked
                    } else {
                        // Like the post
                        likesCount++; // Increment likes count
                        likesSpan.textContent = `${likesCount} likes`; // Update the displayed likes count
                        icon.src = 'https://img.icons8.com/?size=100&id=19411&format=png&color=000000'; // Change icon to the liked version
                        icon.dataset.liked = 'true'; // Update the data attribute to indicate it's liked
                    }
                });
            });
        </script>

    </body>

</html>
