<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/quacker.css">
        <link href="/static/images/icons/quacker.png" rel="icon">
        <title>Quacker</title>
    </head>

    <body>
        <div class="header">
            <img src="/static/images/icons/quacker.png" height="30px
                                                               " wide="auto">&emsp;&emsp;
            Quacker
            &emsp;&emsp;<img src="/static/images/icons/quacker1.png" height="30px
                                                                            " wide="auto">
        </div>

        <div class="container">
            <!-- Sidebar -->
            <div class="sidebar">
                <ul>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/home.png" /> Home</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/search.png" /> Explore</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/appointment-reminders.png" /> Notifications</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/mail.png" /> Messages</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/bookmark.png" /> Bookmarks</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/list.png" /> Lists</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/user-male.png" /> Profile</li>
                    <li><img src="https://img.icons8.com/ios-filled/50/1DA1F2/more.png" /> More</li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <div class="quack-box">
                    <textarea placeholder="What's happening?" rows="3"></textarea>
                    <button>Quack</button>
                </div>

                <!-- Quacks -->
                <div class="quack">
                    <img src="/static/images/quacker/profile/diner.jpg" alt="Duck's Diner" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">DuckDiner <span>@SuckDiner</span></span>
                        <div class="content">Love a good duck dish! Perfectly roasted, and that crispy skin? Yes, please! 😋 #DuckLove</div>
                        <img src="/static/images/quacker/post/dinner.png" alt="Roast duck" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/farm.jpg" alt="Farm-to-table" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">FarmToTable <span>@FarmToTable</span></span>
                        <div class="content">Give me a farm-fresh duck any day! Can’t beat the flavor. 🦆❤️ #EatLocal</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/psyquack.png" alt="Psyquack" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">Psyquack <span>@PsyquackHQ</span></span>
                        <div class="content">Now that’s a rebellious duck! Love the creativity! 🎉 Need more of that energy in the world. #QuackQuackMotherducker</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/king.jpg" alt="Carnivore King" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">CarnivoreKing <span>@CarnivoreKing</span></span>
                        <div class="content">Plant-based stuff? Nah, no thanks. Let’s keep it real, those things are kinda gross. Maybe just chill with the preachin’? 😅 #RealMeatOnly</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/vegan.jpg" alt="Vegan Vibes" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">VeganVibes<span>@VeganVibes</span></span>
                        <div class="content">How about we celebrate plant-based ducks? They don’t quack, they just chill! 🌱🦆 #VeganLife</div>
                        <img src="/static/images/quacker/post/plant.jpg" alt="Plant-based duck" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/chef.jpg" alt="Chef Quacker" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">ChefQuacker<span>@ChefQuacker</span></span>
                        <div class="content">Can we get a tattoo of a duck in a chef hat next? Now that’s art I can get behind! 🍽️🦆 #DuckCuisine</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/angry.jpg" alt="Angry Goose" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">AngryGoose <span>@AngryGoose</span></span>
                        <div class="content">Really? A tattoo of a duck giving the finger? Classic ducks, always making a scene. 🙄 #GeeseAreBetter</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/critic.jpg" alt="Food Critic" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">CulinaryConnoisseur <span>@CulinaryConnoisseur</span></span>
                        <div class="content">That tattoo is cute, but I’d rather have duck à l’orange on my plate! 🍽️🦆 #DuckDelicacy</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/ducklover.png" alt="Duck lover" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">DuckLover99 <span>@DuckLover99</span></span>
                        <div class="content">Why would anyone hate ducks? They’re adorable! 🥰 #DuckAppreciation</div>
                        <img src="/static/images/quacker/post/lover.jpg" alt="Cute duck" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/hater.jpg" alt="Duck Hater" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">DuckHater88<span>@DuckHater88</span></span>
                        <div class="content">Ducks are noisy and messy. Honestly, can’t stand them! 😤 #NotADuckFan</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/nerd.jpg" alt="Profile" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">NatureNerd <span>@NatureNerd101</span></span>
                        <div class="content">I prefer real ducks over tattoos. Let’s celebrate them in their natural habitat! 🦆🌳 #ProtectWildlife</div>
                        <img src="/static/images/quacker/post/natural.jpg" alt="Ducks natural habitat" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/hunter.png" alt="Profile" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">HunterBill <span>@HunterBill73</span></span>
                        <div class="content">Nice tattoo, but let’s remember: ducks are for hunting, not just ink! 🎯 #DuckSeason</div>
                        <img src="/static/images/quacker/profile/hunter.png" alt="Duck hunting" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/activist.jpg" alt="Profile" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">Quacktivist <span>@QuackForChange</span></span>
                        <div class="content">Yellow ducks are such a delight to spot in the wild! 🦆 #YellowDuck #NatureLover</div>
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/donalduck.png" alt="Profile" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">Donalduck <span>@TheDonaldDuck</span></span>
                        <div class="content">Fake ducks everywhere! I’m the only real deal. QUACK QUACK MOTHERDUCKER! 🦆 #RealDuck</div>
                        <img src="/static/images/quacker/post/motherducker.png" alt="Motherducker" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>

                <div class="quack">
                    <img src="/static/images/quacker/profile/daffyduck.png" alt="Profile" class="profile-picture">
                    <div class="quack-content">
                        <span class="user">DaffyDucky <span>@DaffyDucky</span></span>
                        <div class="content">Check out my friend’s new tattoo! 🦆💛 A yellow duck giving the finger. I’m jealous! #DuckTattoo #QuackQuackMotherducker</div>
                        <img src="/static/images/quacker/post/2.jpg" alt="Firend's tat" class="quack-image">
                        <div class="quack-icons">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/topic.png" alt="Comment">
                            <img src="https://img.icons8.com/ios-filled/50/1DA1F2/retweet.png" alt="Requack">
                            <img src="https://img.icons8.com/ios/50/1DA1F2/like.png" alt="Like">
                            <img src="/static/images/quacker/share.png" alt="Share">
                        </div>
                    </div>
                </div>
                <div class="right-sidebar">
                    <div class="trends">
                        <h2>Trends for you</h2>
                        <div class="trend">
                            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.northstarmoving.com%2Fwp-content%2Fuploads%2FSunglass-Rubber-Duck-2.jpg&f=1&nofb=1&ipt=29d406126bd3b5b407d119c504cac5413d1b2d9794e6b86651711fa6f54b4c55&ipo=images" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#RubberDuckies</a>
                                <p>Millions are quacking about the new rubber duckie trend! 🦆</p>
                            </div>
                        </div>
                        <div class="trend">
                            <img src="https://cdn11.bigcommerce.com/s-nf2x4/images/stencil/960w/uploaded_images/frame-3-scaled.jpeg?t=1676915229" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#YellowDuckCollection</a>
                                <p>Check out the latest in yellow duck collections! 🦆</p>
                            </div>
                        </div>
                        <div class="trend">
                            <img src="/static/images/quacker/post/crimson.jpg" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#HarvardMascot</a>
                                <p>Harvard's mascot is making waves on social media! 🦆</p>
                            </div>
                        </div>
                        <div class="trend">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa%2FAATXAJwM3-ylh1lO-Nd6dTs7I7R_L3ZFEtFlad6IPg%3Ds900-c-k-c0xffffffff-no-rj-mo&f=1&nofb=1&ipt=c1f312e85e06c8fb1440bff6ea10200007ffcdd99542e494cf4eae3dce7dccd2&ipo=images" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#ExploreTheWorld</a>
                                <p>Dream destinations and adventure stories, share your wanderlust! 🌍✈️ </p>
                            </div>
                        </div>
                        <div class="trend">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.bUt7Ne11VlOS6hJUD2y_zwAAAA%26pid%3DApi&f=1&ipt=7455cd194e9fbc0052cd882a046a9a1c328479ddd66928a124cc897ef6b23039&ipo=images" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#AIGeneratedArt</a>
                                <p>Creators are experimenting with AI tools to generate unique artwork, sparking both excitement and ethical debates.

                                </p>
                            </div>
                        </div>
                        <div class="trend">
                            <img src="/static/images/quacker/profile/hater.jpg" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#DuckLovers</a>
                                <p>🍗Join the conversation with other duck lovers! 🦆😈</p>
                            </div>
                        </div>
                        <div class="trend">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmaeur.nl%2Ff%2Ffiles%2Fshowimage%2Flarge%2Fblog%2Fmicro-influences%2Fmicro-influencer-visual.jpg&f=1&nofb=1&ipt=090bacf69ad3c7ef59e16b9c4e81a00ff3ff8e18f12e7b484b5a765bb3320e7c&ipo=images" alt="Trend Image" class="trend-image">
                            <div class="trend-content">
                                <a href="#">#NicheMarketing</a>
                                <p>Brands are partnering with smaller, niche influencers who have highly engaged communities for authentic connections.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="script.js"></script>
    </body>

</html>
